<form id="msform">
  <ul id="progressbar">
    <li class="active" id="account"><strong>Bank/Income Details</strong></li>
    <li class="" id="personal"><strong>Customer Details</strong></li>
    <li class="" id="payment"><strong>Loan Details</strong></li>
    <li class="" id="confirm"><strong>Approved Offers</strong></li>
  </ul>

  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated aaaaaaaaa" id="progressbarr" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"  style="width: 25%"></div>
  </div>
</form>

<div id="accordion">
  <div class="card shadow p-3 mb-5 bg-white rounded" ng-show="enableBankIncomeDetail">
    <div class="card-header text-center" style="background: #a00808; color:aliceblue">
      <b>Bank and Income Details</b>
    </div>
    <div class="card-body">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header" style="background: #a00808; color:aliceblue" id="bankDetail">
          
          <button class="btn" data-toggle="collapse" data-target="#bankcollapseOne" aria-expanded="true" aria-controls="bankcollapseOne">
            <b style="color:aliceblue">Bank Details</b>
          </button>
        </div>
        <div id="bankcollapseOne" class="collapse show" aria-labelledby="bankDetail" data-parent="#accordion">
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="firstName"><b>First Name</b></label>
                  <input type="text" class="form-control" id="firstName" ng-model="bankDetailsMDL.First_Name__c">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName"><b>Middle Name</b></label>
                  <input type="text" class="form-control" id="middleName" ng-model="bankDetailsMDL.Middle_Name__c">
                </div>
                <div class="form-group col-md-4">
                  <label for="lastName"><b>Last Name</b></label>
                  <input type="text" class="form-control" id="lastName" ng-model="bankDetailsMDL.Last_Name__c">
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="bankName"><b>Bank Name</b></label>
                  <input type="text" class="form-control" id="bankName" ng-model="bankDetailsMDL.Bank_Name__c">
                </div>
                <div class="form-group col-md-4">
                  <label for="accNumber"><b>Bank Account Number</b></label>
                  <input type="text" class="form-control" id="accNumber" ng-model="bankDetailsMDL.Bank_Account_Number__c">
                </div>
                <div class="form-group col-md-4">
                  <label for="ifscCode"><b>IFSC Code</b></label>
                  <input type="text" class="form-control" id="ifscCode" ng-model="bankDetailsMDL.IFSC_Code__c">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="bankName"><b>Proximity Toward's Branch</b></label>
                  <select id="inputState" class="form-control" ng-model="bankDetailsMDL.Proximity_Toward_Bank__c">
                    <option>Bank branch exists in the residence place of the applicant</option>
                    <option>Bank branch does not exist in the residence place of the applicant</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="accNumber"><b>Locative Situation</b></label>
                  <select id="inputState" class="form-control" ng-model="bankDetailsMDL.Applicant_Locative_Situation__c">
                    <option>Own House</option>
                    <option>Personal Apartment</option>
                    <option>Parents Apartment</option>
                    <option>Rent</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="ifscCode"><b>Banking References</b></label>
                  <select id="inputState" class="form-control" ng-model="bankDetailsMDL.Banking_references__c">
                    <option>Deposit and loan</option>
                    <option>Deposit / credit card</option>
                    <option>Loan / credit card</option>
                    <option>None</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="ifscCode"><b>Loan From Other Bank</b></label>
                  <input type="checkbox" class="form-control" id="ifscCode" ng-model="bankDetailsMDL.Loan_From_Other_Bank__c">
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div>
      
      <div> 
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-header text-center" style="background: #a00808; color:aliceblue" id="incomeDetail">
            <button class="btn collapsed" data-toggle="collapse" data-target="#incomecollapseOne" aria-expanded="false" aria-controls="incomecollapseOne">
              <b style="color:aliceblue">Income Details</b>
            </button>
          </div>
          <div id="incomecollapseOne" class="collapse show" aria-labelledby="incomeDetail" data-parent="#accordion">
            <div class="card-body">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="monthlyIncome"><b>Monthly Income</b></label>
                    <input type="number" class="form-control" id="monthlyIncome" ng-model="incomeDetailsMDL.Monthly_Income__c">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState"><b>Income Type</b></label>
                    <select id="inputState" class="form-control" ng-model="incomeDetailsMDL.Income_Type__c">
                      <option>Salaried</option>
                      <option>Self Employed</option>
                      <option>Self Employed Businessman</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="lastName"><b>Gross Income</b></label>
                    <input type="number" class="form-control" id="lastName" ng-model="incomeDetailsMDL.Gross_Income__c">
                  </div>
                </div>
                
                <div class="form-row">
                  
                  <div class="form-group col-md-4">
                    <label for="accNumber"><b>Monthly Additional Income</b></label>
                    <input type="number" class="form-control" id="accNumber" ng-model="incomeDetailsMDL.Monthly_Additional_Income__c">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState"><b>Source of Additional Income</b></label>
                    <select id="inputState" class="form-control" ng-model="incomeDetailsMDL.Source_of_Additional_Income__c">
                      <option>Agriculture</option>
                      <option>Business</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="accNumber"><b>Taxable Amount</b></label>
                    <input type="number" class="form-control" id="accNumber" ng-model="incomeDetailsMDL.Taxable_Amount__c">
                  </div>
                </div>
                
              </form>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button type="submit" class="btn btn-primary">Back</button>
      <button type="submit" class="btn btn-primary" ng-click="visibleCustomerDetail();">Proceed</button>
    </div>
  </div>
</div>



<div class="card shadow p-3 mb-5 bg-white rounded" ng-show="enableCustomerDetail">
  <div class="card-header text-center" style="background: #a00808; color:aliceblue">
    <b>Customer Details</b>
  </div>
  <div class="card-body">
    
    
    <div> 
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header text-center" style="background: #a00808; color:aliceblue">
          <b>Employer Details</b>
        </div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="monthlyIncome"><b>Employer Company Name</b></label>
                <input type="text" class="form-control" id="monthlyIncome" ng-model="employmentDetailsMDL.Name">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState"><b>Employer Type</b></label>
                <select id="inputState" class="form-control" ng-model="employmentDetailsMDL.Employment_Type__c">
                  <option>Permanent</option>
                  <option>Part-time</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="lastName"><b>Employment Status</b></label>
                <input type="text" class="form-control" id="lastName" ng-model="employmentDetailsMDL.Employment_Status__c">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="bankName"><b>Designation</b></label>
                <input type="text" class="form-control" id="bankName" ng-model="employmentDetailsMDL.Designation__c">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState"><b>Mode Of Salary</b></label>
                <select id="inputState" class="form-control" ng-model="employmentDetailsMDL.Mode_Of_Salary__c">
                  <option>Bank Transfer</option>
                  <option>Cash</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState"><b>Tenure With Current Employer</b></label>
                <select id="inputState" class="form-control" ng-model="employmentDetailsMDL.Employment_Current_Tenure__c">
                  <option>Greater than 5 years</option>
                  <option>Between 2 and 5 years</option>
                  <option>Between 1 and 2 years</option>
                  <option>Retired</option>
                  <option>NA</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputState"><b>Tenure With Past Employer</b></label>
                <select id="inputState" class="form-control" ng-model="employmentDetailsMDL.Employment_Past_Tenure__c">
                  <option>Greater than 5 years</option>
                  <option>Between 2 and 5 years</option>
                  <option>Between 1 and 2 years</option>
                  <option>Retired</option>
                  <option>NA</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header text-center" style="background: #a00808; color:aliceblue">
        <b>Add Application Parties</b>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row" ng-repeat="eachRow in partyList">
            <div class="form-group col-md-3">
              <label for="exampleFormControlSelect12" ><b>Contact</b></label>
                  <select class="form-control" id="exampleFormControlSelect12" ng-model="eachRow.Contact__c">
                      <option ng-repeat="x in allContacts" value="{{x.Id}}">{{x.Name}}</option>
                      
                  </select>
            </div>
            <div class="form-group col-md-3">
              <label for="exampleFormControlSelect12" ><b>Party Type</b></label>
              <select class="form-control" id="exampleFormControlSelect12" ng-model="eachRow.Party_Type__c">
                  <option>Co-Borrwer</option>
                  <option>Gurrantor</option>
                  
              </select>
            </div>
            <div class="form-group col-md-3 text-center" style="padding-top: 30px;">
              <button type="button" class="btn btn-primary btn-default" value="Add Parties" ng-click="addParty()"> Add Parties
              </button>
            </div>
            <div class="form-group col-md-3 text-center" style="padding-top: 30px;">
              <button type="button" class="btn btn-primary btn-default" value="Delete Contact" ng-click="deleteParty($index)"> Remove Parties
              </button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
  <div class="card-footer text-center">
    <button type="submit" class="btn btn-primary" ng-click="backCustomerDetail();">Back</button>
    <button type="submit" class="btn btn-primary" ng-click="visibleLoanDetail();">Proceed</button>
  </div>
</div>

  
<div class="card shadow p-3 mb-5 bg-white rounded" ng-show="enableLoanDetail">
  <div class="card-header text-center" style="background: #a00808; color:aliceblue">
    <b>Loan Details</b> 
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="middleName"><b>Loan Amount</b></label>
          <input type="number" class="form-control" id="middleName" ng-model="facilityDetailsMDL.Requested_Amount__c">
        </div>
        
        <div class="form-group col-md-4">
          <label for="inputState"><b>Loan Purpose</b></label>
          <select id="inputState" class="form-control" ng-model="applicationDetailsMDL.Loan_Purpose__c">
            <option>Expansion</option>
            <option>Seasonal</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState"><b>Applicant Employment Type</b></label>
          <select id="inputState" class="form-control" ng-model="applicationDetailsMDL.Applicant_Employment_Type__c">
            <option>Self-Employed</option>
            <option>Employed</option>
            <option>Unemployed</option>
          </select>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="bankName"><b>Requested Term</b></label>
          <input type="number" class="form-control" id="bankName" ng-model="facilityDetailsMDL.Requested_Tenuer__c">
        </div>
        <div class="form-group col-md-4">
          <label for="accNumber"><b>Requested Rate</b></label>
          <input type="number" class="form-control" id="accNumber" ng-model="facilityDetailsMDL.Requested_Interest__c">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState"><b>Holiday Period</b></label>
          <select id="inputState" class="form-control" ng-model="facilityDetailsMDL.Holiday_Period__c">
            <option>One Month</option>
            <option>Three Month</option>
            <option>Six Month</option>
            <option>One Year</option>
            <option>Two Year</option>
            <option>Three Year</option>
            <option>Five Year</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        
        <div class="form-group col-md-4">
          <label for="inputState"><b>Applicant Resident Status</b></label>
          <select id="inputState" class="form-control" ng-model="applicationDetailsMDL.Primary_Applicant_Residence_Status__c">
            <option>Indian</option>
            <option>NRI</option>
          </select>
        </div>
        
        <div class="form-group col-md-4">
          <label for="ifscCode"><b>Applicant Age</b></label>
          <input type="number" class="form-control" id="ifscCode" ng-model="applicationDetailsMDL.Primary_Applicant_Age__c">
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-center">
    <button type="submit" class="btn btn-primary" ng-click="backLoanDetail();">Back</button>
    <button type="submit" class="btn btn-primary" ng-click="applyforLoan();">APPLY FOR LOAN</button>
  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded" ng-show="enableOfferDetail">
  <div class="card-header text-center" style="background: #a00808; color:aliceblue">
    <b>Bank Offers</b> 
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><b>Bank Name</b></th>
          <th scope="col"><b>Term</b></th>
          <th scope="col"><b>Interest</b></th>
          <th scope="col"><b>Requested Amount</b></th>
          <th scope="col"><b>Action</b></th>
        </tr>
      </thead>
      <tbody ng-repeat="x in offersList">
        <tr>
          <th scope="row">Axis Bank</th>
          <td>{{x.Max_Term__c}} Months</td>
          <td>{{x.Interest__c}}</td>
          <td>{{applicationDetailsMDL.Requested_Amount__c}}</td>
          <td><button type="submit" class="btn btn-primary">APPLY</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>
      
</div>


  




