<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
      <header class="w3-container w3-teal">
          <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
          <h1 style="font-weight: 600;">Upload DOCS related to this session</h1>
         
      </header>
      <div class="w3-container">
          <span >
              <input type="file" style="font-size: 12pt;" id="attachmentFile" accept="application/msword,application/pdf"/>
              <button class="button" ng-click="testMethod('0011s00000iatk2AAA');">Upload</button>
          </span>
      </div>
     
  </div>
</div>


<!--<div class="container mt-3">
  <h2>Custom File</h2>
  <p>To create a custom file upload, wrap a container element with a class of .custom-file around the input with type="file". Then add the .custom-file-input to the file input:</p>
  <form action="/action_page.php">
    <p>Custom file:</p>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="filename">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    
    <p>Default file:</p>
    <input type="file" id="myFile" name="filename2">
  
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div class="row">
    <div class="col-12">
      <div class="card card-default">
        <div>
          <div>
              <div class="card-header card-header-border-bottom d-flex justify-content-between">
                  <h2>All Application - {{documentId}}</h2>
  
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-contact"> Add Document
                  </button>
              </div>
              <div class="card-body">
                <div>
                  <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th scope="col">DocumentCategory Name</th>
                        <th scope="col">Attachment</th>
                        <th scope="col">Upload Attachment</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat='eachRec in documentCategory'>
                      <tr>
                        
                
                        <th scope="row">{{eachRec.Name}}</th>
                        <td>
                          <div class="custom-file mb-1">
                            <input type="file" class="custom-file-input" id="coverImage" onchange="angular.element(this).scope().filesChanged(this)" multiple>
                            <label class="custom-file-label" for="coverImage" >Choose file...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                          </div>
                        </td>
                        <td><button type="button" class="mb-1 btn btn-primary" ng-click="uploadFiles();">Upload Document</button></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                  
              </div>
          </div>
      
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-add-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form >
        <div class="modal-header px-4">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add New Document</h5>
        </div>
        <div class="modal-body px-4">
          <div class="row mb-2">
            <div class="col-lg-6">
              <label for="exampleFormControlSelect12" >Document Category</label>
                    <select class="form-control" id="exampleFormControlSelect12" ng-model="documentId">
                        <option ng-repeat="x in documentCategory" value="{{x.Id}}">{{x.Name}}</option>
                    </select>
            </div>
          </div>
          <div class="form-group row mb-6">
            <label for="coverImage" class="col-sm-4 col-lg-2 col-form-label">Upload Attachment</label>
            <div class="col-sm-8 col-lg-10">
              <div class="custom-file mb-1">
                <input type="file" class="custom-file-input" id="coverImage" onchange="angular.element(this).scope().filesChanged(this)" multiple>
                <label class="custom-file-label" for="coverImage">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer px-4">
          <button type="button" class="btn btn-secondary btn-pill" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary btn-pill" ng-click = "uploadFiles();">Save Document</button>
        </div>
      </form>
    </div>
  </div>
</div>-->
  
  