    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:#007bff">Upload {{documentName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      <form action="/view/uploadDocument" enctype="multipart/form-data" method="post">
        <div><input type="file" name="thisfile" multiple="multiple" class="form-control" style="margin-top:6px;"/></div>
        <div ng-show="false">documentId: <input type="text" name="documentId" multiple="multiple" ng-model="documetParentId"/></div>
        <div ng-show="false">accId: <input type="text" name="accId" multiple="multiple" ng-model="accountId"/></div>
        <button type="submit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
        
      </form>

      
    </div>
      
    </div>
  </div>
</div>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header" style="background: #007bff; color:aliceblue">
        <b>Document Category</b> 
          <!--button type="submit" class="btn btn-primary btn-default" ng-click="reDirectCreateApp();" style="float:right">New Application</button-->
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><b>Document Name</b></th>
              <th scope="col"><b>Upload Action</b></th>
            </tr>
          </thead>
          <tbody ng-repeat="eachRec in documentCategory">
            <tr>
              <th scope="row">{{eachRec.Name}}</th>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="documentUpload($index);" ng-show="!eachRec.Document_Uploaded__c">
                  Upload Document
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" ng-click="documentUpload($index);" ng-show="eachRec.Document_Uploaded__c">
                  Document Upload Successfully
                </button>
              </td>
              <td>
                
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
          
    </div>

  
  