<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-header d-flex justify-content-between" style="background: #a00808; color:aliceblue">
    <b>All Contacts</b> 
    <button type="button" class="mb-1 btn btn-primary " ng-click="reDirectCreateParty();">Add Party Contact</button>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Conatct Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody ng-repeat='eachRec in partiesList'>
        <tr>
          <td>{{eachRec.Name}}</td>
          <td>{{eachRec.Email}}</td>
          <td>{{eachRec.Phone}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
      
</div>



  