
<div class="main d-flex justify-content-center w-100">
    <main class="content d-flex p-0">
      <div class="container d-flex flex-column">
        <div class="row h-100">
          <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
              <div class="text-center mt-4">
                <h1 class="h2" style="color:#007bff">Welcome Back</h1>
                <p class="lead" style="color:#007bff">
                  Sing up to your account to continue
                </p>
              </div>
              <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <div class="m-sm-4">
                    
                    <form>
                        <div class="form-group">
                            <label><b>Name</b></label>
                            <input class="form-control form-control-lg" type="text" name="name" placeholder="Enter your name" ng-model="signupDetailsMDL.Name">
                        </div>
                        <div class="form-group">
                            <label><b>Phone</b></label>
                            <input class="form-control form-control-lg" type="phone" name="phone" placeholder="Enter your phone number" ng-model="signupDetailsMDL.Phone">
                        </div>

                        <div class="form-group">
                            <label><b>Email</b></label>
                            <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" ng-model="signupDetailsMDL.Customer_Email__c">
                        </div>
                        <div class="form-group">
                            <label><b>password</b></label>
                            <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" ng-model="signupDetailsMDL.Password__c">
                        </div>
                        <div class="form-group">
                            <label><b>Gender</b></label>
                            <select id="inputState" class="form-control" ng-model="signupDetailsMDL.Gender__c">
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                          <label><b>Martial Status</b></label>
                          <select id="inputState" class="form-control" ng-model="signupDetailsMDL.Marital_Status__c">
                            <option>Single</option>
                            <option>Married</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <label><b>Education</b></label>
                        <select id="inputState" class="form-control" ng-model="signupDetailsMDL.Education_Level__c">
                          <option>phD.</option>
                          <option>Master</option>
                          <option>Graduate</option>
                          <option>Inter/Matriculation</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label><b>No. Of Dependant</b></label>
                      <select id="inputState" class="form-control" ng-model="signupDetailsMDL.No_of_dependents__c">
                        <option>0 Person</option>
                        <option>1 Person</option>
                        <option>2 Person</option>
                        <option>3 or more person</option>
                      </select>
                  </div>
                        <small>
                            <a href="/view/signin">Sign in</a>
                          </small>
                        <div class="text-center mt-3">
                            <a href="" class="btn btn-lg btn-primary" ng-click="signupDetails();">Sign up</a>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </main>
  </div>